In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("match.csv")

In [3]:
df[:5]

,country_id,league_id,season,stage,date,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,2008/2009,1,8/17/08 0:00,492473,9987,9993,1,1,...,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,1,1,2008/2009,1,8/16/08 0:00,492474,10000,9994,0,0,...,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,1,1,2008/2009,1,8/16/08 0:00,492475,9984,8635,0,3,...,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,1,1,2008/2009,1,8/17/08 0:00,492476,9991,9998,5,0,...,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,1,1,2008/2009,1,8/16/08 0:00,492477,7947,9985,1,3,...,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [17]:
df.loc[(df['B365H'] > 10*df['B365A']) & (df['home_team_goal'] > df['away_team_goal'] )]

,country_id,league_id,season,stage,date,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
22716,21518,21518,2011/2012,14,11/26/11 0:00,1051788,8305,8634,1,0,...,1.20,17.0,7.00,1.20,12.0,6.25,1.2,12.0,6.0,1.20
22983,21518,21518,2011/2012,4,9/18/11 0:00,1051685,8581,8633,1,0,...,1.20,13.0,6.50,1.22,11.0,6.50,1.2,12.0,6.5,1.18
23707,21518,21518,2013/2014,36,5/4/14 0:00,1506162,8581,9906,2,0,...,1.25,18.0,5.75,1.25,NaN,NaN,NaN,NaN,NaN,NaN
24486,21518,21518,2015/2016,37,5/8/16 0:00,2030527,8581,9906,2,1,...,NaN,17.0,6.50,1.22,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df.loc[(df['B365H']*10 < df['B365A']) & (df['home_team_goal'] < df['away_team_goal'] )]

,country_id,league_id,season,stage,date,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
425,1,1,2009/2010,25,2/6/10 0:00,665698,8635,9997,1,2,...,13.0,1.20,5.50,12.0,1.25,5.50,8.5,1.22,5.0,11.0
557,1,1,2010/2011,14,11/6/10 0:00,838636,9985,6351,1,3,...,13.0,1.22,6.00,13.0,1.20,5.50,11.0,1.20,5.5,11.0
2069,1729,1729,2008/2009,6,9/27/08 0:00,489093,9825,8667,1,2,...,17.0,1.20,6.00,21.0,1.22,5.50,13.0,1.20,5.5,15.0
2181,1729,1729,2009/2010,16,12/12/09 0:00,658822,8586,8602,0,1,...,13.0,1.22,5.50,13.0,1.28,5.00,10.0,1.25,5.5,12.0
2537,1729,1729,2010/2011,13,11/14/10 0:00,839943,8455,8472,0,3,...,15.0,1.22,6.50,17.0,1.22,6.00,11.0,1.20,6.0,13.0
2711,1729,1729,2010/2011,3,8/28/10 0:00,839837,8586,8528,0,1,...,10.0,1.25,6.00,13.0,1.25,5.50,11.0,1.25,5.5,12.0
2828,1729,1729,2010/2011,6,9/25/10 0:00,839864,9825,8659,2,3,...,15.0,1.22,6.50,17.0,1.20,6.00,13.0,1.18,6.0,17.0
2970,1729,1729,2011/2012,19,12/31/11 0:00,1025137,8455,10252,1,3,...,13.0,1.29,6.00,13.0,1.28,5.00,10.0,1.29,5.0,12.0
2972,1729,1729,2011/2012,19,12/31/11 0:00,1025144,10260,8655,2,3,...,21.0,1.12,9.50,29.0,1.15,7.00,15.0,1.14,7.0,21.0
3378,1729,1729,2012/2013,21,1/2/13 0:00,1229317,8455,10172,0,1,...,15.0,1.22,6.50,13.0,1.20,6.25,14.0,1.22,6.0,13.0
3910,1729,1729,2013/2014,35,4/19/14 0:00,1475077,8455,8472,1,2,...,15.0,1.20,7.00,18.0,NaN,NaN,NaN,NaN,NaN,NaN
4232,1729,1729,2014/2015,3,8/30/14 0:00,1724006,8456,10194,0,1,...,12.0,1.20,7.00,20.0,NaN,NaN,NaN,NaN,NaN,NaN
6771,4769,4769,2013/2014,19,12/20/13 0:00,1468312,9829,9873,1,2,...,13.0,1.25,6.25,17.0,NaN,NaN,NaN,NaN,NaN,NaN
8734,7809,7809,2011/2012,1,8/7/11 0:00,1029765,9823,9788,0,1,...,13.0,1.20,6.50,15.0,1.22,6.00,11.0,1.22,6.0,12.0
9329,7809,7809,2012/2013,9,10/28/12 0:00,1239539,9823,8178,1,2,...,12.0,1.25,6.25,13.0,1.22,6.35,11.0,1.22,6.0,12.0
9806,7809,7809,2014/2015,26,3/22/15 0:00,1732946,9823,9788,0,2,...,NaN,1.20,7.50,18.0,NaN,NaN,NaN,NaN,NaN,NaN
10094,7809,7809,2015/2016,24,3/2/16 0:00,2002300,9823,9905,1,2,...,NaN,1.12,10.00,22.0,NaN,NaN,NaN,NaN,NaN,NaN
10204,7809,7809,2015/2016,4,9/12/15 0:00,2002117,8178,8262,0,1,...,NaN,1.29,6.00,13.0,NaN,NaN,NaN,NaN,NaN,NaN
11550,10257,10257,2011/2012,23,2/12/12 0:00,1083393,8636,6269,0,1,...,13.0,1.25,5.75,13.0,1.25,5.25,12.0,1.25,5.5,11.0
11858,10257,10257,2012/2013,19,1/6/13 0:00,1287151,9885,9882,1,2,...,13.0,1.22,6.50,19.0,1.18,6.75,14.0,1.20,6.5,13.0
13926,13274,13274,2010/2011,13,11/7/10 0:00,836373,8593,10217,0,1,...,17.0,1.17,6.50,17.0,1.17,6.00,12.0,1.17,6.0,15.0
14179,13274,13274,2010/2011,8,10/3/10 0:00,836273,8593,9908,1,2,...,11.0,1.20,6.50,13.0,1.20,5.75,11.0,1.20,6.5,12.0
14304,13274,13274,2011/2012,20,2/5/12 0:00,1028713,8593,9908,0,2,...,13.0,1.22,6.50,13.0,1.22,5.75,11.0,1.22,5.5,12.0
14518,13274,13274,2012/2013,11,11/4/12 0:00,1222847,10229,9839,1,2,...,12.0,1.22,6.50,15.0,1.20,5.25,12.5,1.20,5.5,12.0
14587,13274,13274,2012/2013,19,1/18/13 0:00,1223043,8640,6413,1,3,...,13.0,1.15,8.50,20.0,1.15,6.75,12.0,1.14,7.5,13.0
15330,13274,13274,2014/2015,31,4/19/15 0:00,1712669,10235,6433,0,1,...,NaN,1.14,8.50,17.0,NaN,NaN,NaN,NaN,NaN,NaN
17849,17642,17642,2008/2009,6,10/25/08 0:00,509169,9773,6421,2,3,...,11.0,1.28,4.50,9.0,1.25,5.00,10.0,1.22,5.0,11.0
18121,17642,17642,2010/2011,1,8/15/10 0:00,859645,9772,10215,1,2,...,15.0,1.18,6.00,12.0,1.20,5.50,12.0,1.20,5.5,11.0
19504,17642,17642,2015/2016,21,2/7/16 0:00,2015989,9773,158085,1,2,...,NaN,1.15,7.50,19.0,NaN,NaN,NaN,NaN,NaN,NaN
19575,17642,17642,2015/2016,28,4/4/16 0:00,2016060,9773,188163,0,1,...,NaN,1.07,11.50,34.0,NaN,NaN,NaN,NaN,NaN,NaN
19813,19694,19694,2008/2009,28,3/4/09 0:00,490143,8548,8066,0,1,...,13.0,1.17,6.50,11.0,1.20,6.00,11.0,1.20,6.5,15.0
20167,19694,19694,2010/2011,12,11/10/10 0:00,840295,8548,10251,0,3,...,10.0,1.22,6.00,17.0,1.20,5.50,12.0,1.22,5.5,12.0
20580,19694,19694,2011/2012,5,8/21/11 0:00,1024215,9925,8467,0,1,...,12.0,1.20,6.50,15.0,1.18,5.75,12.0,1.17,6.5,17.0
20618,19694,19694,2012/2013,11,10/27/12 0:00,1229076,9925,8597,0,2,...,12.0,1.20,7.00,17.0,1.20,6.00,10.0,1.20,6.0,17.0
20641,19694,19694,2012/2013,15,11/24/12 0:00,1229134,9925,8066,0,1,...,12.0,1.22,6.50,15.0,1.20,5.75,11.0,1.20,6.5,13.0
21139,19694,19694,2014/2015,21,3/4/15 0:00,1726139,9925,8467,0,1,...,NaN,1.20,7.00,15.0,NaN,NaN,NaN,NaN,NaN,NaN
21349,19694,19694,2015/2016,19,12/19/15 0:00,1990951,9925,9927,1,2,...,NaN,1.13,10.00,21.0,NaN,NaN,NaN,NaN,NaN,NaN
21677,21518,21518,2008/2009,24,2/21/09 0:00,530493,8634,8558,1,2,...,13.0,1.25,5.00,10.0,1.25,5.50,10.0,1.25,5.5,9.0
22389,21518,21518,2010/2011,2,9/11/10 0:00,875496,8634,10278,0,2,...,29.0,1.06,12.00,34.0,1.07,10.00,23.0,1.07,11.0,26.0
22423,21518,21518,2010/2011,22,2/5/11 0:00,875885,10205,8581,0,1,...,9.0,1.29,5.50,13.0,1.25,5.50,10.0,1.29,5.0,9.0
22511,21518,21518,2010/2011,30,4/2/11 0:00,875912,8633,9869,0,1,...,17.0,1.18,7.50,19.0,1.15,7.50,14.0,1.18,7.0,13.0
23566,21518,21518,2013/2014,22,2/1/14 0:00,1506031,8634,10267,2,3,...,19.0,1.14,8.50,23.0,NaN,NaN,NaN,NaN,NaN,NaN
23814,21518,21518,2014/2015,10,11/1/14 0:00,1778131,8634,9910,0,1,...,NaN,1.15,9.00,23.0,NaN,NaN,NaN,NaN,NaN,NaN
23966,21518,21518,2014/2015,24,2/21/15 0:00,1778273,8634,9864,0,1,...,NaN,1.10,11.50,34.0,NaN,NaN,NaN,NaN,NaN,NaN
24440,21518,21518,2015/2016,33,4/17/16 0:00,2030481,8634,10267,1,2,...,NaN,1.15,9.50,17.0,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
team_df[:5]

   team_id     team_long_name team_short_name
0     9987           KRC Genk             GEN
1     9993       Beerschot AC             BAC
2    10000   SV Zulte-Waregem             ZUL
3     9994   Sporting Lokeren             LOK
4     9984  KSV Cercle Brugge             CEB

In [18]:
team_df.loc[team_df['team_id'] == 9906]

     team_id   team_long_name team_short_name
269     9906  Atl̩tico Madrid             AMA

In [20]:
team_df.loc[team_df['team_id'] == 8581]

     team_id team_long_name team_short_name
275     8581     Levante UD             LEV

In [27]:
import numpy as np
df.loc[np.isnan(df['B365H'])]

,country_id,league_id,season,stage,date,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
164,1,1,2008/2009,26,3/14/09 0:00,493036,9993,9998,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,1,1,2008/2009,31,4/26/09 0:00,493080,9984,9987,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,1,1,2008/2009,9,10/25/08 0:00,492556,9998,9993,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791,1,1,2011/2012,13,11/5/11 0:00,1032791,9993,9998,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
923,1,1,2011/2012,28,3/3/12 0:00,1032916,9998,9993,4,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25974,24558,24558,2015/2016,9,9/22/15 0:00,1992091,10190,10191,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25975,24558,24558,2015/2016,9,9/23/15 0:00,1992092,9824,10199,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25976,24558,24558,2015/2016,9,9/23/15 0:00,1992093,9956,10179,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25977,24558,24558,2015/2016,9,9/22/15 0:00,1992094,7896,10243,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25978,24558,24558,2015/2016,9,9/23/15 0:00,1992095,10192,9931,4,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
np.sum(df[df.columns[32:]], axis=1)

0         83.27
1         78.89
2         74.16
3        106.00
4         86.32
          ...
25974      0.00
25975      0.00
25976      0.00
25977      0.00
25978      0.00
Length: 25979, dtype: float64

In [44]:
home_bet_columns = [x for x in np.arange(32, df.columns.shape[0]) if x%3==2]
draw_bet_columns = [x for x in np.arange(32, df.columns.shape[0]) if x%3==0]
away_bet_columns = [x for x in np.arange(32, df.columns.shape[0]) if x%3==1]

In [55]:
home_bets = np.mean(df[df.columns[home_bet_columns]], axis=1)
draw_bet = np.mean(df[df.columns[draw_bet_columns]], axis=1)
away_bet = np.mean(df[df.columns[away_bet_columns]], axis=1)

In [59]:
df['home_bet_agg'] = home_bets
df['draw_bet_agg'] = draw_bet
df['away_bet_agg'] = away_bet

In [62]:
df.loc[(df['home_bet_agg']*10 < df['away_bet_agg']) & (df['home_team_goal'] < df['away_team_goal'] )]

,country_id,league_id,season,stage,date,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,...,VCA,GBH,GBD,GBA,BSH,BSD,BSA,home_bet_agg,draw_bet_agg,away_bet_agg
2069,1729,1729,2008/2009,6,9/27/08 0:00,489093,9825,8667,1,2,...,21.0,1.22,5.50,13.0,1.20,5.5,15.0,1.204444,5.661111,15.333333
2537,1729,1729,2010/2011,13,11/14/10 0:00,839943,8455,8472,0,3,...,17.0,1.22,6.00,11.0,1.20,6.0,13.0,1.211111,5.950000,13.555556
2828,1729,1729,2010/2011,6,9/25/10 0:00,839864,9825,8659,2,3,...,17.0,1.20,6.00,13.0,1.18,6.0,17.0,1.200000,6.000000,15.000000
2972,1729,1729,2011/2012,19,12/31/11 0:00,1025144,10260,8655,2,3,...,29.0,1.15,7.00,15.0,1.14,7.0,21.0,1.136667,7.466667,20.555556
3378,1729,1729,2012/2013,21,1/2/13 0:00,1229317,8455,10172,0,1,...,13.0,1.20,6.25,14.0,1.22,6.0,13.0,1.214000,6.170000,14.010000
3910,1729,1729,2013/2014,35,4/19/14 0:00,1475077,8455,8472,1,2,...,18.0,NaN,NaN,NaN,NaN,NaN,NaN,1.190000,6.841250,14.673750
4232,1729,1729,2014/2015,3,8/30/14 0:00,1724006,8456,10194,0,1,...,20.0,NaN,NaN,NaN,NaN,NaN,NaN,1.192500,6.887500,16.681250
6771,4769,4769,2013/2014,19,12/20/13 0:00,1468312,9829,9873,1,2,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1.243750,5.656250,13.375000
6963,4769,4769,2013/2014,36,5/7/14 0:00,1468555,9847,9851,1,2,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1.230000,5.985000,12.526250
8734,7809,7809,2011/2012,1,8/7/11 0:00,1029765,9823,9788,0,1,...,15.0,1.22,6.00,11.0,1.22,6.0,12.0,1.214444,6.111111,12.277778
9806,7809,7809,2014/2015,26,3/22/15 0:00,1732946,9823,9788,0,2,...,18.0,NaN,NaN,NaN,NaN,NaN,NaN,1.191429,6.985714,15.357143
10094,7809,7809,2015/2016,24,3/2/16 0:00,2002300,9823,9905,1,2,...,22.0,NaN,NaN,NaN,NaN,NaN,NaN,1.131429,8.700000,19.928571
11858,10257,10257,2012/2013,19,1/6/13 0:00,1287151,9885,9882,1,2,...,19.0,1.18,6.75,14.0,1.20,6.5,13.0,1.197000,6.468000,15.020000
13926,13274,13274,2010/2011,13,11/7/10 0:00,836373,8593,10217,0,1,...,17.0,1.17,6.00,12.0,1.17,6.0,15.0,1.161111,6.277778,13.888889
14518,13274,13274,2012/2013,11,11/4/12 0:00,1222847,10229,9839,1,2,...,15.0,1.20,5.25,12.5,1.20,5.5,12.0,1.204444,5.722222,12.222222
14587,13274,13274,2012/2013,19,1/18/13 0:00,1223043,8640,6413,1,3,...,20.0,1.15,6.75,12.0,1.14,7.5,13.0,1.139000,7.537000,14.550000
14741,13274,13274,2012/2013,34,5/12/13 0:00,1223344,8277,9839,0,1,...,15.0,1.17,6.00,13.0,1.20,5.5,13.0,1.186667,5.916667,12.666667
15330,13274,13274,2014/2015,31,4/19/15 0:00,1712669,10235,6433,0,1,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1.155714,7.570000,14.061429
18121,17642,17642,2010/2011,1,8/15/10 0:00,859645,9772,10215,1,2,...,12.0,1.20,5.50,12.0,1.20,5.5,11.0,1.192222,5.583333,12.555556
19504,17642,17642,2015/2016,21,2/7/16 0:00,2015989,9773,158085,1,2,...,19.0,NaN,NaN,NaN,NaN,NaN,NaN,1.157143,6.942857,17.648571
19575,17642,17642,2015/2016,28,4/4/16 0:00,2016060,9773,188163,0,1,...,34.0,NaN,NaN,NaN,NaN,NaN,NaN,1.088571,9.481429,27.004286
19813,19694,19694,2008/2009,28,3/4/09 0:00,490143,8548,8066,0,1,...,11.0,1.20,6.00,11.0,1.20,6.5,15.0,1.188889,6.055556,12.888889
20167,19694,19694,2010/2011,12,11/10/10 0:00,840295,8548,10251,0,3,...,17.0,1.20,5.50,12.0,1.22,5.5,12.0,1.212222,5.633333,13.055556
20580,19694,19694,2011/2012,5,8/21/11 0:00,1024215,9925,8467,0,1,...,15.0,1.18,5.75,12.0,1.17,6.5,17.0,1.185556,6.105556,13.500000
20618,19694,19694,2012/2013,11,10/27/12 0:00,1229076,9925,8597,0,2,...,17.0,1.20,6.00,10.0,1.20,6.0,17.0,1.200000,6.162000,13.204000
20641,19694,19694,2012/2013,15,11/24/12 0:00,1229134,9925,8066,0,1,...,15.0,1.20,5.75,11.0,1.20,6.5,13.0,1.215000,6.039000,12.488000
21139,19694,19694,2014/2015,21,3/4/15 0:00,1726139,9925,8467,0,1,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,1.210000,6.320000,13.172857
21349,19694,19694,2015/2016,19,12/19/15 0:00,1990951,9925,9927,1,2,...,21.0,NaN,NaN,NaN,NaN,NaN,NaN,1.135714,8.244286,18.564286
22389,21518,21518,2010/2011,2,9/11/10 0:00,875496,8634,10278,0,2,...,34.0,1.07,10.00,23.0,1.07,11.0,26.0,1.065556,10.555556,25.444444
22511,21518,21518,2010/2011,30,4/2/11 0:00,875912,8633,9869,0,1,...,19.0,1.15,7.50,14.0,1.18,7.0,13.0,1.156667,7.305556,15.111111
23566,21518,21518,2013/2014,22,2/1/14 0:00,1506031,8634,10267,2,3,...,23.0,NaN,NaN,NaN,NaN,NaN,NaN,1.137500,8.237500,19.423750
23814,21518,21518,2014/2015,10,11/1/14 0:00,1778131,8634,9910,0,1,...,23.0,NaN,NaN,NaN,NaN,NaN,NaN,1.138571,8.377143,19.214286
23966,21518,21518,2014/2015,24,2/21/15 0:00,1778273,8634,9864,0,1,...,34.0,NaN,NaN,NaN,NaN,NaN,NaN,1.111429,9.621429,22.642857
24440,21518,21518,2015/2016,33,4/17/16 0:00,2030481,8634,10267,1,2,...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,1.148571,8.464286,16.457143

In [63]:
np.sum(df.loc[(df['home_bet_agg']*10 < df['away_bet_agg']) & (df['home_team_goal'] < df['away_team_goal'] )]['away_bet_agg'])

538.0589841269842

In [75]:
np.sum(df.loc[(df['home_bet_agg']*10 < df['away_bet_agg']) & (df['home_team_goal'] > df['away_team_goal'] )]['home_bet_agg']) - np.sum(df.loc[(df['home_bet_agg']*10 < df['away_bet_agg']) & (df['home_team_goal'] < df['away_team_goal'] )]['away_bet_agg']) - np.sum(df.loc[(df['home_bet_agg']*10 < df['away_bet_agg']) & (df['home_team_goal'] == df['away_team_goal'] )]['draw_bet_agg'])

-170.41969642857134

In [76]:
np.sum(df.loc[(df['away_bet_agg']*10 < df['home_bet_agg']) & (df['away_team_goal'] > df['home_team_goal'] )]['away_bet_agg']) - np.sum(df.loc[(df['away_bet_agg']*10 < df['home_bet_agg']) & (df['away_team_goal'] < df['away_team_goal'] )]['home_bet_agg']) - np.sum(df.loc[(df['away_bet_agg']*10 < df['home_bet_agg']) & (df['away_team_goal'] == df['home_team_goal'] )]['draw_bet_agg'])

-3.1194357142857

In [70]:
df.loc[(df['home_bet_agg'] > df['away_bet_agg']*10) & (df['home_team_goal'] > df['away_team_goal'] )]

,country_id,league_id,season,stage,date,match_id,home_team_id,away_team_id,home_team_goal,away_team_goal,...,VCA,GBH,GBD,GBA,BSH,BSD,BSA,home_bet_agg,draw_bet_agg,away_bet_agg
22716,21518,21518,2011/2012,14,11/26/11 0:00,1051788,8305,8634,1,0,...,1.20,12.0,6.25,1.2,12.0,6.0,1.2,13.055556,6.227778,1.204444
23614,21518,21518,2013/2014,27,3/8/14 0:00,1506079,10281,8634,1,0,...,1.22,NaN,NaN,NaN,NaN,NaN,NaN,13.523750,6.611250,1.211250
23707,21518,21518,2013/2014,36,5/4/14 0:00,1506162,8581,9906,2,0,...,1.25,NaN,NaN,NaN,NaN,NaN,NaN,13.976250,5.665000,1.247500
24486,21518,21518,2015/2016,37,5/8/16 0:00,2030527,8581,9906,2,1,...,1.22,NaN,NaN,NaN,NaN,NaN,NaN,15.698571,6.084286,1.215714

In [74]:
df.to_csv("match_with_agg.csv")

In [77]:
np.sum(df.loc[(df['home_bet_agg']*10 < df['away_bet_agg']) & (df['home_team_goal'] == df['away_team_goal'] )]['draw_bet_agg'])

642.4040833333332

In [78]:
np.sum(df.loc[(df['home_bet_agg']*10 < df['away_bet_agg']) & (df['home_team_goal'] > df['away_team_goal'] )]['home_bet_agg'])

1010.0433710317461